#signup-page{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99999;
}
span{
    cursor: pointer;
}


#signup-btn , #login-btn{

    background-color: rgb(50,50,80);
    color: white;
    border: 1px solid white;
    padding: 10px 0px;
    border-radius: 5px;
    transition: all 0.5s;
}

#login-btn:hover{
    background-color: lightblue;
}
#signup-btn:hover{
    background-color: lightblue;
}

#login-anchor , #signup-anchor{
    color: white;
    display: inline;
    transition: all .5s;
 
}

#login-anchor:hover{
    color: lightblue;
    border-bottom: 1px solid lightblue;
}

#signup-anchor:hover{
    color: lightblue;
    border-bottom: 1px solid lightblue;
}


#logout-btn{
    border: 1px solid white;
    border-radius: 5px;
    
    background-color: rgb(50,50,80);
    color: white;
    padding: 5px 10px;
    transition: all .5s;
}
#logout-btn:hover{
    background-color: orange;
}

#home{
    z-index: 999999999999999;
}